{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "pdf_search/qna-styles.css" %}">
    <title>Ask Me</title>
</head>
<body>
    <div class="container">
        <div class="chat-box" id="chat-box">
            <!-- chat messages will be displayed here -->
        </div>
        <div class="input-container">
            <input type="text" id="user-input" placeholder="Type your question here...">
            <button onclick="askQuestion()">Ask</button>
            <a href="{% url 'upload_pdf' %}"><button>Upload PDF</button></a>
        </div>
    </div>

    <script>
        function askQuestion() {
            var userInput = document.getElementById('user-input').value;
            var chatBox = document.getElementById('chat-box');
            var userMessage = '<p><strong>You:</strong> ' + userInput + '</p>';

            var formData = new FormData();
            formData.append('user_question', userInput);

            fetch('/', {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                var responseMessage;
                if (data.answer.trim() === "") {
                    responseMessage = '<p><strong>ChatBot:</strong> Sorry, I couldn\'t find an answer to your question.</p>';
                } else {
                    responseMessage = '<p><strong>ChatBot:</strong> ' + data.answer + '</p>';
                }
                chatBox.innerHTML += userMessage + responseMessage;
            })
            .catch(error => {
                console.error('Error:', error);
            });
    
            document.getElementById('user-input').value = '';
        }
    </script>
</body>
</html>